*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


/*Header*/
nav{
    height:80px;
    width: 100%;
    background: #262e36;
    position: fixed;
    z-index: 10;
}

.label.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}

nav .show{
    float: right;
    margin-right: 40px;
}

nav .li{
    display: inline-block;
    margin: 0px 8px;
    line-height: 80px;
    letter-spacing: 1px;
}

nav .a{
    color: white;
    font-size: 18px;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 4px;
}
.a.active,
.a:hover{
    border: 1px solid rgb(236, 236, 9);
    transition: 0.5s;
}

nav #icon {
    float: right;
    color: white;
    font-size: 30px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#menu{
    display: none;
}
section {
    background: url("//BA/PaginaWeb/img/budin.png") no-repeat;
    background-size: cover;
    height: 100vh;
}
/* ACA EMPIEZA EL MAIN*/ 
main{
    background-color: rgb(63, 63, 63);
    padding-top: 80px;
}
/*Nostros*/
.container{
    height: max-content;
    width: 100%;
}
.nosotros{
    height: max-content;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 1%;
    font-family: 'Playfair Display', serif;

}
h1{
    color: rgb(0, 0, 0);
}

.image{
    border: 10px black ;
    border-style: dashed solid;
}
/*ACA EMPIEZA EL FOOTER*/
footer {
        background: #262e36;
        color: #fff;
        padding: 10px;
        text-align: left;
    }

.footer{
    display: flex;
    justify-content: space-evenly;
    margin-left: 40px;
    width: 100%;
}

.link__footer{
    font-size: 40px;
    color: black;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin-right: left;
}

.espacio1{
    margin-right: 100px;
}
.contacto{
    width: max-content;
    height: max-content;
}

.contacto--titulo{
    font-size: 40px;
    color: rgb(163, 49, 224);
    text-decoration: underline;
}

.redes{
    width: max-content;
    height: max-content;
}
.redes--titulo{
    margin-top: 1px;
    font-size: 40px;
    color: rgb(163, 49, 224);
    text-decoration: underline;
}
.copy{
    position: relative;
    text-align: center;
}
.contacto--parrafo{
    font-size: 15px;
}
footer ul li {
    display: inline;
}
footer a:hover {
    text-decoration: underline;
}

.codetheworld-io{
    display: flex;
    flex-direction: row;
}
.redes--css{
    margin: 0 10px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
    background: rgba(0,0,0,0);
    color: var(--color);
    font-size: 2.5em;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}
.redes--css:hover{
    background-color: var(--color);
    color: #050801;
    box-shadow: 0 0 5px var(--color)
    0 0 25px var(--color)
    0 0 50px var(--color)
    0 0 200px var(--color);
}
/*DISEÑO RESPONSIVO*/
@media (max-width: 1048px) {
    label.logo {
        font-size: 32px;
        padding-left: 60px;
    }

    nav .show {
    margin-right: 20px;
    }

    nav .a {
        font-size: 17px;
    }
}

@media (max-width: 924px) {
    /*Header*/
    nav #icon {
        display: block;
    }

    .show {
        position: fixed;
        height: 80vh;
        width: 100%;
        background:#272b2f ;
        top: 80px;
        text-align: center;
        transition: all 0.5s;
        left: -100%;
        
    }
    
    #menu:checked~.show {
        margin-left: 100%;
    }
    nav .li{
        display: block;
        margin: 50px 0px;
        line-height: 10px;
    }

    nav .a{
        font-size: 20px;
    }

    .a.active,
    a:hover{
        border: none;
        color: #eeeb27;
    }

    /*Body*/
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body{
        background-color: red;
        font-family: 'calibri';
        overflow: none;
    }
    
    /*Main*/
    main{
        background-color: none;
    }
    
    /*Footer*/
    footer{
        background-color: rgba(171, 97, 19, 0.826);
    }

    .redes--titulo{
        margin-top: 1px;
        font-size: 30px;
    }

    .contacto--titulo{
        font-size: 30px;
    }

    .contacto--parrafo{
        font-size: 15px;
    }
    .redes--css{
        height: 40px;
        width: 40px;
    }

.logo-footer{
    width: 150px;
    height: 150px;
}
}
@media (max-width:300px) {
    label.logo {
        font-size: 18px;
        padding-left: 10px;
    }
    nav #icon {
        padding: 0;
        font-size: 20px;
    }

    .a:hover,
    .a.active {
        border: 1px solid #eeeb27;
    }
}

